@media only screen and (max-width: 600px) {
    /* Ваши стили для маленьких экранов*/
} 
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container1 {
    width: 50%; /* Используем проценты вместо пикселей */
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 4%; /* Используем проценты вместо пикселей */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}


input[type="text"],
input[type="password"],
select,
textarea {
    width: 90%; /* Используем проценты вместо пикселей */
    padding: 2%; /* Используем проценты вместо пикселей */
    margin-bottom: 2%; /* Используем проценты вместо пикселей */
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 90%; /* Используем проценты вместо пикселей */
    padding: 2%; /* Используем проценты вместо пикселей */
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#clean {
    width: 15%; /* Используем проценты вместо пикселей */
    height: 10%; /* Используем проценты вместо пикселей */
    display: none;
    position: relative;
    position: fixed;
    top: 2.5%; /* Используем проценты вместо пикселей */
    left: 85%; /* Используем проценты вместо пикселей */
}

#errorMsg {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

#teacherMenu,
#studentMenu {
    display: none;
}

#all {
    display: none;
    width: 100vw;
    height: 100vh; 
}

.number input[type="button"] {
    display: block;
    margin-bottom: 2%; /* Используем проценты вместо пикселей */
}

.question,
.answer {
    display: none; 
    position: relative;
    left: 40%; /* Используем проценты вместо пикселей */
}

input[type="button"] {
    margin-top: 5%; /* Используем проценты вместо пикселей */
    margin-left: 20%; /* Используем проценты вместо пикселей */
    width: 40%; /* Используем проценты вместо пикселей */
    height: 7%; /* Используем проценты вместо пикселей */
    font-size: 1em; /* Используем относительные единицы */
    color:  rgb(255, 255, 255);
    background-color: rgb(100, 100, 100);
}

#check {
    width: 50%; /* Используем проценты вместо пикселей */
    height: 20%; /* Используем проценты вместо пикселей */
    position: relative;
    top: 30%; /* Используем проценты вместо пикселей */
    left: -50%; /* Используем проценты вместо пикселей */
    background-color: #45a049;
    color: #ffffff;
    display: none;
}

#result {
    width: 15%; /* Используем проценты вместо пикселей */
    height: 10%; /* Используем проценты вместо пикселей */
    position: fixed;
    top: 2.5%; /* Используем проценты вместо пикселей */
    left: 85%; /* Используем проценты вместо пикселей */
    background-color: red;
    color: #ffffff;
    font-size: 2em; /* Используем относительные единицы */
    text-align: center;
    display: none;
}
